from main import Main
import logging

if __name__ == '__main__':
    # указать свои данные для авторизации
    main = Main('login', 'password', debug_stream=logging.CRITICAL,
                debug_file=logging.CRITICAL, event_codes=[7,8])
    main.enable().main_loop()


